01-raw-data
irTools-test-16_cache
rsconnect
irTools-test-16.html
lookup-tables/ir_translation_workbook.xlsx
lookup-tables/ir_translation_workbook_bk.xlsx
02-site-validation/master-site-reviews-2019-04-17_4.xlsx
02-site-validation/master-site-reviews-2019-04-17_3.xlsx
02-site-validation/master-site-reviews-2019-04-17_2.xlsx
02-site-validation/master-site-reviews-2019-04-17_1.xlsx
02-site-validation/rev_rej_reasons.csv
02-site-validation/rev_rej_reasons.csv
02-site-validation/IR_master_site_file.csv
02-site-validation/IR_master_site_file-autoreview.csv
02-site-validation/rev_rej_reasons.csv
02-site-validation/rev_rej_reasons.csv
lookup-tables/~$ir_translation_workbook.xlsx
_book
_bookdown_files
_main_cache
03-processed-data/all-rejected-data.csv
03-processed-data/all-accepted-data-wide.csv
